@use '../custom' as *;
@use '../components/mixins' as *;

.footer{
    padding-top: 1rem;
    background-color: $footer;

}
// styling contact box content

.contact-box{
    position: relative;
    &__icon{
        width: 2rem;
        stroke:$primary;
        @include media-breakpoint-up(sm){
            width: 4rem;
        }
    }

    &__info{
        padding: 0.4rem;
        font-weight: 600;


        &--title{
            color:$white;
            text-decoration: none;
            font-size: 1rem;
            @include media-breakpoint-up(sm){
                font-size: 1.4rem;
            }

        }

        &--subtitle{
            color: $gray-600;
            text-decoration: none;
            font-size: 0.8rem;
            @include media-breakpoint-up(sm){
                font-size: 1rem;
            }

        }
    }

}


// Style social media 
.footer-sm{
    a{
        color:$white;

        i{
            font: 1rem;
            margin-left: 1rem;
            @include media-breakpoint-up(sm){
                font-size: 1.6rem;
            }
        }
    }
    
}

// styling back to top button

.back-to-top{
    position:fixed;
    width:3rem;
    height:3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    i{
        color:$white;
        font-size: 1rem;    
        @include absoluteCenter;

    }
}