@use "../custom" as *;
@use '../components/mixins' as *;

.portfolio{
    padding: 4rem 0;
    button{
        text-transform: capitalize;

    }
}

.portfolio-box{
    position: relative;
    width:100%;
    height:18.5rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-top:0.2rem solid $purple-light;


    img{
        width:100%;
        height: 100%;
    }

    .portfolio-info{
        background-color: rgba($primary,0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        
        .caption{
            text-align: center;
            @include absoluteCenter;
            color: $white;

            h4{
                text-transform:uppercase;
                display: block;

            }

        }
    }

    &:hover{
        img{
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            @include transitionProperty;
}
        .portfolio-info{
            visibility: visible;
            opacity: 1;
            @include transitionProperty;
    }
    }
}