//Gradient Mixins
@use '../custom' as *;
@mixin gradient {
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary,0.95));
}

///Absolute Center
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate();
    -moz-transform: translate();
    -ms-transform: translate();
    -o-transform: translate();
}


// transition property

@mixin transitionProperty{
    transition-duration: 1000ms;
    transition-property: all;

}