@use '../custom' as *;
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro{
        display: inline-block;
        font-weight: 700;  
        color: $white;
        font-family: 'Poppins', sans-serif;

    }
    &--description{
        font-size: 1rem;
        display: block;
        color: $white;
        margin-top: 1.2rem;
        text-transform: none;
        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            display: inline-block;
        
    }

}} 